{
  "bot": {
    "namePrefix": "",
    "commandPrefix": "",
    "debugChannel": "🤖bot-messages",
    "whitelist": [],
    "blacklist": []
  },
  "commands": {
    "didAThing": [
      {
        "name": "coding",
        "role": "People who coded today",
        "color": "#5865F2"
      }
    ]
  },
  "workers": {
    "reactionRoles": [
      {
        "emojiName": "🤷",
        "threshold": 4,
        "roleName": "People who are shrugging",
        "color": "#00FF00",
        "forwardChannel": "showcase"
      }
    ],
    "combinedReactionRoles": [
      {
        "emojiNames": ["TheBest", "TheWorst"],
        "threshold": 4,
        "roleName": "People who are controversial",
        "color": "#FF00FF",
        "forwardChannel": "showcase"
      }
    ]
  }
}
