[
    {
        "emojiName": "TheBest",
        "roleName": "People who are THE ABSOLUTE BEST",
        "threshold": 4
    },
    {
        "emojiName": "TheWorst",
        "roleName": "People who are THE ABSOLUTE WORST",
        "threshold": 4
    }
]